/* Основные стили, база! */

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0;
}

body {
	color: #2f3035;
	font-family: "SFProDisplay-Regular", sans-serif;
	font-size: 20px;
	line-height: 24px;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

/* Основные стили, база! */

/* Хэдер топ */
.header__top-inner {
	min-height: 122px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "SFProDisplay-Bold", sans-serif;
	font-weight: 700;
}

.menu__item {
	display: inline-block;
}

.menu__item + .menu__item {
	padding-left: 50px;
}

.header__box {
	display: flex;
}

.header__adress {
	margin-right: 60px;
	width: 265px;
	padding-left: 30px;
	position: relative;
}

.header__adress::before {
	content: "";
	position: absolute;
	background-image: url("../images/icons/adress.svg");
	width: 30px;
	height: 30px;
	left: 0;
	top: -10px;
}

.user-list {
	display: flex;
	align-items: center;
	margin-right: 15px;
}

.user-list__item {
	padding-right: 10px;
}

.basket {
	position: relative;
}

.basket__num {
	position: absolute;
	font-family: "SFProDisplay-Medium", sans-serif;
	color: #fff;
	font-weight: 500;
	font-size: 10px;
	line-height: 20px;
	width: 20px;
	height: 20px;
	background-color: #1c62cd;
	border-radius: 50%;
	text-align: center;
	bottom: -2px;
	right: -14px;
}

/* Хэдер топ */

/* Хэдер нижний, категории */

.header__bottom {
	margin-bottom: 78px;
}

.menu-categories {
	background-color: #f0f0f4;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 53px;
}

.menu-categories__link {
	position: relative;
	transition: all 0.3s;
	padding: 15px 0 14px;
}

.menu-categories__link:hover {
	font-family: "SFProDisplay-Semibold", sans-serif;
	color: #000;
}

.menu-categories__link::before {
	content: "";
	position: absolute;
	width: 0;
	left: auto;
	right: 0;
	bottom: -2px;
	background-color: #1c62cd;
	height: 3px;
	transition: all 0.3s;
}

.menu-categories__link:hover::before {
	width: 100%;
	right: auto;
	left: 0;
}

/* Хэдер нижний, категории */

/* Баннер, акция, слайдер */

.banner-section__inner {
	display: flex;
	justify-content: space-between;
}

.banner-section__slider {
	max-width: 870px;
}

/* Кнопки слайдера */
.banner-section__slider-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
	z-index: 5;
	cursor: pointer;
}

.banner-section__slider-btnprew {
	left: 20px;
}

.banner-section__slider-btnnext {
	right: 20px;
}

/* Кнопки слайдера */

/* Стилизация точек на слайдере "slick-dots" класс slick слайдера */

.slick-dots {
	position: absolute;
	bottom: 40px;
	right: 0;
	left: 0;
	text-align: center;
}

.slick-dots li {
	display: inline-block;
	padding: 0 5px;
}

.slick-dots button {
	padding: 0;
	margin: 0;
	font-size: 0;
	width: 11px;
	height: 11px;
	border: 1px solid #fff;
	border-radius: 50%;
	background-color: transparent;
}

.slick-active button {
	background-color: #fff;
}

/* Стилизация точек на слайдере "slick-dots" класс slick слайдера */
.sale-item {
	max-width: 265px;
	text-align: center;
	border: 1px solid #cdcdcd;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sale-item__top {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.sale-item__info {
	color: #fff;
	background-color: #1c62cd;
	padding: 8px 20px;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.price {
	font-family: "Barlow", sans-serif;
	position: relative;
}

.sale-item__price {
	text-align: right;
}

.sale-item__price-new {
	font-size: 27px;
	line-height: 32px;
	color: #1c62cd;
	font-weight: 700;
	margin-right: 6px;
	padding-right: 20px;
}

.sale-item__price-new::after {
	content: "";
	background-image: url("../images/icons/rub.svg");
	position: absolute;
	right: 0;
	top: 8px;
	width: 15px;
	height: 18px;
}

.sale-item__price-old {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #c4c4c4;
	margin-right: 15px;
	background-image: url("../images/icons/old-line.svg");
	background-repeat: no-repeat;
	padding: 2px 5px;
	display: inline-block;
}

.sale-item__price-old::after {
	content: "";
	background-image: url("../images/icons/rub-old.svg");
	position: absolute;
	right: -10px;
	width: 8px;
	top: 5px;
	height: 10px;
}

.sale-item__title {
	font-family: "SFProDisplay-Bold", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #2f3035;
	margin-bottom: 7px;
}

.sale-item__footer {
	background-color: #f0f0f4;
	padding: 25px 20px;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #2f3035;
}

.sale-item__footer span {
	font-family: "Barlow", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #1c62cd;
	display: block;
}

.sale-item__img {
	object-fit: contain;
}

.banner-section__slider-img {
	object-fit: cover;
	min-height: 400px;
}
/* Баннер, акция */
